/*STYLE BY IMMER*/

body{
  margin: 0;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center; 
}

h2{
  padding-top: 2rem;
  color: white;
}

.container-climate{
  width: 300px;
  height: 500px;
  background-color: rgb(0, 0, 0, 0.6);
  border-radius: 1rem;
  border: 3px solid rgb(255, 221, 0);
}

.flag{
  width: 30px;
  height: 20px;
  /* padding-left: 0.5rem; */

}

.country-city{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 2rem;
  height: fit-content;
}

.country-city>p>a{
  font-weight: bold;
  color: rgb(255, 221, 0);
}

.p-cc1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: -10px;
  color: white;
}

.p-cc2{
  color: white;
}

.celsius-fahrenheit{
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.num-temp{
  font-size: 150px;
  color: rgb(255, 221, 0);
}

.symbol-temp{
  padding-bottom: 100px;
  font-size: 2rem;
  color: white;
}

.icon-climate{
  position: relative;
  height: 40px;
}

.icon-climate-1{
  position: absolute;
  top: -80px;
  right: 40px;
}

.btn-changetemp{
  width: 210px;
  height: 50px;
}

